@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio web</h1>
   <p>Learn about <a href="https://github.com/jimmyps75/SitioWebPenafiel">vamos apreder a publicar con git</a>.</p>
</div>
